[submodule "ton"]
	path = third-party/ton
	url = https://github.com/ton-blockchain/ton.git
[submodule "ton-testnet"]
	path = third-party/ton-testnet
	url = https://github.com/ton-blockchain/ton.git
	branch = testnet
