name: Check PR
on:
  pull_request:
    branches:
      - "master"
    paths-ignore:
      - .github/workflows/charts-*
      - charts/**
      - .release-please-manifest.json
      - release-please-config.json
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-check:
    name: Run rust-clippy analyzing
    runs-on:
      group: "CPUBound"
    permissions:
      contents: read
      checks: write
      security-events: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/prepare
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/clippy-check@v1
        env:
          CARGO_INCREMENTAL: "0"
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
          CMAKE_C_COMPILER_LAUNCHER: "sccache"
          CMAKE_CXX_COMPILER_LAUNCHER: "sccache"
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
