name: Test PR
on:
  pull_request:
    branches:
      - "master"
    paths-ignore:
      - .github/workflows/charts-*
      - charts/**
      - .release-please-manifest.json
      - release-please-config.json
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-tests:
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'macos-14', 'macos-13']
        features: ['', 'testnet']
    name: Run cargo tests
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      checks: write
      security-events: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: awalsh128/cache-apt-pkgs-action@latest
        if: runner.os == 'Linux'
        with:
          packages: libsecp256k1-dev libsodium-dev liblz4-dev
      - uses: arduino/setup-protoc@v3
        if: runner.os == 'Linux'
      - run: brew install secp256k1 libsodium lz4 protobuf
        if: runner.os == 'macOS'
      - uses: mozilla-actions/sccache-action@v0.0.4
      - run: cargo test --no-fail-fast --features "${{ matrix.features }}"
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
          CMAKE_C_COMPILER_LAUNCHER: "sccache"
          CMAKE_CXX_COMPILER_LAUNCHER: "sccache"
