name: Test PR
on:
  pull_request:
    branches:
      - "master"
    paths-ignore:
      - .github/workflows/charts-*
      - charts/**
      - .release-please-manifest.json
      - release-please-config.json
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-tests:
    strategy:
      matrix:
        include:
          - features: ''
          - features: 'testnet'
    name: Run cargo tests
    runs-on:
      group: "CPUBound"
    permissions:
      contents: read
      checks: write
      security-events: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libsecp256k1-dev libsodium-dev liblz4-dev
      - uses: arduino/setup-protoc@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu
      - uses: mozilla-actions/sccache-action@v0.0.4
      - run: cargo test --target x86_64-unknown-linux-gnu --no-fail-fast --features "${{ matrix.features }}"
        env:
          RUSTFLAGS: ""
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
          CMAKE_C_COMPILER_LAUNCHER: "sccache"
          CMAKE_CXX_COMPILER_LAUNCHER: "sccache"
